<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title>{{page.title}}</title>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ "/static/img/favicon.png" |
    prepend: site.baseurl }}" />
    <!-- CSS-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="/static/css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="/static/css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>

  <body>
    {% include nav.html %} {{content}}
    <br />
    <br />
    <footer class="page-footer calkit-green">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">About us</h5>
            <p class="grey-text text-lighten-4">
              Calkit is dedicated to making reproducibility easy so researchers
              can do their work more efficiently with fewer mistakes, and the
              products of their research are more reusable for maximum impact.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Quick links</h5>
            <ul>
              <li>
                <a
                  class="white-text"
                  target="_blank"
                  href="https://github.com/calkit/calkit?tab=readme-ov-file#tutorials"
                  >Tutorials</a
                >
              </li>
              <li>
                <a class="white-text" target="_blank" href="https://calkit.io"
                  >Calkit Cloud</a
                >
              </li>
              <li>
                <a
                  class="white-text"
                  target="_blank"
                  href="https://github.com/calkit"
                  >GitHub</a
                >
              </li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Software repositories</h5>
            <ul>
              <li>
                <a
                  class="white-text"
                  target="_blank"
                  href="https://github.com/calkit/calkit"
                  >Calkit Python/CLI</a
                >
              </li>
              <li>
                <a
                  class="white-text"
                  target="_blank"
                  href="https://github.com/calkit/calkit-cloud"
                  >Calkit Cloud</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Copyright 2024 Calkit.
          <a href="https://github.com/calkit/calkit.github.io" target="_blank"
            >View source.</a
          >
        </div>
      </div>
    </footer>
    <!-- Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/materialize.js"></script>
    <script src="/static/js/init.js"></script>
  </body>
</html>
